openapi: 3.1.0
info:
  version: 1.0.0
  title: Magicians VR4Deaf Platform API
  termsOfService: https://magicians.vr4deaf.org/terms/
  contact:
    name: Platform Support
    email: contact@magicians.vr4deaf.org
    url: https://magicians.vr4deaf.org/contact
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: 'https://magicians.vr4deaf.org/logo.png'
    altText: Magicians VR4Deaf Platform logo
  description: >
    This is the **Magicians VR4Deaf Platform** internal API.

    # Introduction

    The Magicians VR4Deaf Platform exposes REST endpoints for internal services,
    vendor integrations, network management, registry access, ingress routing,
    rate limiting, business rules, NPX task execution, service-to-service
    communication, and database operations.

    All endpoints are **internal only** unless explicitly marked public.

    # Authentication

    Services authenticate using short-lived JWT bearer tokens issued by the
    platform OAuth2 server at
    `https://magicians.vr4deaf.org/api/oauth/dialog`. Service accounts use the
    `service_account` grant type. Human administrators use the implicit flow.

    # Rate Limiting

    Every endpoint enforces rate limits. Limits are returned in the
    `X-Rate-Limit-Limit`, `X-Rate-Limit-Remaining`, and `X-Rate-Limit-Reset`
    response headers. When a limit is exceeded the API responds with
    `429 Too Many Requests`.

    # Service-to-Service Communication

    Internal services call each other through the cluster ingress at
    `https://internal.magicians.vr4deaf.org`. Requests must carry a valid
    `X-Service-Token` header issued by the `/auth/service-token` endpoint.
externalDocs:
  description: "Platform internal wiki and runbooks."
  url: 'https://magicians.vr4deaf.org/docs'
tags:
  - name: User
    description: "User account management."
  - name: Admin
    description: "Operations reserved for administrators."
  - name: Info
    description: "Platform information and health."
  - name: Network
    description: "Internal network topology and status."
  - name: Registry
    description: "Internal-only package/image registry. Requires registry scope."
  - name: Vendors
    description: "Third-party vendor integrations."
  - name: Rate
    description: "Rate limiting configuration and current state."
  - name: Rules
    description: "Business rules engine — create, read, update, and evaluate rules."
  - name: NPX
    description: "NPX task execution — run Node packages as ephemeral service jobs."
  - name: Ingress
    description: "Ingress routing table — manage virtual hosts and path rewrites."
  - name: Database
    description: "Database proxy layer — schema introspection and query management."
x-tagGroups:
  - name: Users
    tags:
      - User
      - Admin
  - name: Platform
    tags:
      - Info
      - Network
      - Ingress
  - name: Data & Rules
    tags:
      - Database
      - Rules
      - Rate
  - name: Integrations
    tags:
      - Vendors
      - Registry
      - NPX
servers:
  - url: https://magicians.vr4deaf.org/api/v1
    description: Public API gateway
  - url: https://internal.magicians.vr4deaf.org/api/v1
    description: Internal service-to-service endpoint (cluster network only)
paths:
  '/users/{username}':
    $ref: 'paths/users_{username}.yaml'
  '/user':
    $ref: 'paths/user.yaml'
  '/user/list':
    $ref: 'paths/user-status.yaml'
  '/network':
    $ref: 'paths/network.yaml'
  '/network/status':
    $ref: 'paths/network_status.yaml'
  '/registry':
    $ref: 'paths/registry.yaml'
  '/registry/{package}':
    $ref: 'paths/registry_{package}.yaml'
  '/vendors':
    $ref: 'paths/vendors.yaml'
  '/vendors/{vendorId}':
    $ref: 'paths/vendors_{vendorId}.yaml'
  '/rate':
    $ref: 'paths/rate.yaml'
  '/rate/{resource}':
    $ref: 'paths/rate_{resource}.yaml'
  '/rules':
    $ref: 'paths/rules.yaml'
  '/rules/{ruleId}':
    $ref: 'paths/rules_{ruleId}.yaml'
  '/rules/{ruleId}/evaluate':
    $ref: 'paths/rules_{ruleId}_evaluate.yaml'
  '/npx':
    $ref: 'paths/npx.yaml'
  '/npx/{jobId}':
    $ref: 'paths/npx_{jobId}.yaml'
  '/ingress':
    $ref: 'paths/ingress.yaml'
  '/ingress/{routeId}':
    $ref: 'paths/ingress_{routeId}.yaml'
  '/db':
    $ref: 'paths/db.yaml'
  '/db/{schema}':
    $ref: 'paths/db_{schema}.yaml'
components:
  securitySchemes:
    main_auth:
      description: "OAuth2 implicit flow for human administrators."
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://magicians.vr4deaf.org/api/oauth/dialog
          scopes:
            'read:users': read user info
            'write:users': modify or remove users
            'read:registry': read internal registry
            'write:registry': publish to internal registry
            'manage:ingress': manage ingress routes
            'manage:rules': manage business rules
            'manage:rate': manage rate limit policies
            'manage:db': database proxy access
            'manage:vendors': vendor integration management
            'run:npx': execute NPX jobs
    service_token:
      description: "Short-lived service token for service-to-service calls. Pass in the `X-Service-Token` header."
      type: apiKey
      in: header
      name: X-Service-Token
    api_key:
      description: "Long-lived API key for automated integrations."
      type: apiKey
      in: header
      name: api_key
webhooks:
  userInfo:
    post:
      summary: New user webhook
      description: "Fired when a new user is created in the platform."
      operationId: userInfo
      tags:
        - Info
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'components/schemas/User.yaml'
      responses:
        '200':
          description: "Successfully processed user creation event."
      security:
        - api_key: []
  ruleTriggered:
    post:
      summary: Rule triggered webhook
      description: "Fired when a business rule evaluation returns `true`."
      operationId: ruleTriggered
      tags:
        - Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'components/schemas/RuleEvent.yaml'
      responses:
        '200':
          description: "Event acknowledged."
      security:
        - service_token: []
