openapi: 3.1.0
info:
  version: 1.0.0
  title: 360 Magicians API
  termsOfService: https://360magicians.com/terms/
  contact:
    name: 360 Magicians Support
    url: https://360magicians.com/contact
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
    altText: 360 Magicians logo
  description: >
    # 360 Magicians API

    **Deaf Aware. Rooted Deaf First. Globally Future-Proof AIs.**


    The 360 Magicians API powers the **IDEA → BUILD → GROW → MANAGED** lifecycle for Deaf-first
    AI projects. All endpoints are authenticated via **DeafAUTH** bearer tokens.


    ## Authentication

    Obtain a token from [DeafAUTH](https://deafauth.mbtq.dev/docs) and pass it as a ******

    ```
    Authorization: ******
    ```


    ## Lifecycle Stages

    | Stage   | Description |
    |---------|-------------|
    | **IDEA** | Generate, validate, and research ideas |
    | **BUILD** | Create repos, wireframes, and deploy MVPs |
    | **GROW** | Analytics, marketing campaigns, partner onboarding |
    | **MANAGED** | Compliance, finance, and continuous monitoring |


    ## Related Docs

    - [About 360Magicians](../docs/about.md)
    - [Infrastructure / Ecosystem Architecture](../docs/infrastructure.md)
    - [DeafAuth](../docs/projects/deafauth.md)
    - [PinkSync](../docs/projects/pinksync.md)
    - [Municipal DAO](../docs/projects/municipal-dao.md)
externalDocs:
  description: "360 Magicians ecosystem documentation"
  url: 'https://github.com/360magicians'
tags:
  - name: Auth
    description: "DeafAUTH identity and token operations."
  - name: Idea
    description: "IDEA stage — generate, validate, and research ideas."
  - name: Build
    description: "BUILD stage — repo creation, wireframes, and MVP deployment."
  - name: Grow
    description: "GROW stage — analytics, marketing, and partner onboarding."
  - name: Managed
    description: "MANAGED stage — compliance, finance, and monitoring."
  - name: Jobs
    description: "Job listing and status across all lifecycle stages."
  - name: Inference
    description: "AI inference endpoints — LLM, VLM, embeddings, and ASR."
x-tagGroups:
  - name: Identity
    tags:
      - Auth
  - name: Lifecycle
    tags:
      - Jobs
      - Idea
      - Build
      - Grow
      - Managed
  - name: AI Inference
    tags:
      - Inference
servers:
  - url: https://api.360magicians.com
    description: Production API
paths:
  '/jobs/list':
    get:
      tags:
        - Jobs
      summary: List all jobs
      operationId: listJobs
      description: Returns all jobs across the IDEA, BUILD, GROW, and MANAGED lifecycle stages.
      security:
        - deafauth: []
      responses:
        '200':
          description: A list of lifecycle jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'components/schemas/Job.yaml'
        '401':
          description: Unauthorized — invalid or missing DeafAUTH token.
  '/idea':
    post:
      tags:
        - Idea
      summary: Generate an idea
      operationId: generateIdea
      description: |
        Submit a prompt to IdeaMagician to generate a new Deaf-first project idea.
        Returns an `idea.json` payload.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/IdeaRequest.yaml'
      responses:
        '200':
          description: Idea generated successfully.
          content:
            application/json:
              schema:
                $ref: 'components/schemas/Idea.yaml'
        '401':
          description: Unauthorized.
  '/idea/validate':
    post:
      tags:
        - Idea
      summary: Validate an idea
      operationId: validateIdea
      description: |
        Submit an `idea.json` to ValidatorMagician for compliance and feasibility validation.
        Returns a `validation_report.json`.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/Idea.yaml'
      responses:
        '200':
          description: Validation report.
          content:
            application/json:
              schema:
                $ref: 'components/schemas/ValidationReport.yaml'
        '401':
          description: Unauthorized.
  '/idea/research':
    post:
      tags:
        - Idea
      summary: Run market research
      operationId: researchIdea
      description: |
        Submit a topic and target audience to ResearchMagician.
        Returns a `market_research_report.md`.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/ResearchRequest.yaml'
      responses:
        '200':
          description: Market research report (Markdown).
          content:
            text/markdown:
              schema:
                type: string
        '401':
          description: Unauthorized.
  '/build/repo':
    post:
      tags:
        - Build
      summary: Create project repository
      operationId: createRepo
      description: |
        Instruct DeveloperMagician to create a new GitHub repository for a project.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/BuildRepoRequest.yaml'
      responses:
        '201':
          description: Repository created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repository_url:
                    type: string
                    format: uri
        '401':
          description: Unauthorized.
  '/grow/campaign':
    post:
      tags:
        - Grow
      summary: Run marketing campaign
      operationId: runCampaign
      description: |
        Submit a campaign brief to GrowthMagician to execute a marketing campaign.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/CampaignRequest.yaml'
      responses:
        '200':
          description: Campaign report.
          content:
            text/markdown:
              schema:
                type: string
        '401':
          description: Unauthorized.
  '/managed/compliance':
    post:
      tags:
        - Managed
      summary: Generate compliance report
      operationId: generateComplianceReport
      description: |
        Instruct ComplianceMagician to generate a compliance report for a given period.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reporting_period]
              properties:
                reporting_period:
                  type: string
                  description: ISO 8601 date range, e.g. "2024-Q1"
                  example: "2024-Q1"
      responses:
        '200':
          description: Compliance report (PDF URL).
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_url:
                    type: string
                    format: uri
        '401':
          description: Unauthorized.
  '/inference/llm':
    post:
      tags:
        - Inference
      summary: LLM text generation
      operationId: inferLLM
      description: |
        Submit a text prompt to the inference gateway. The gateway routes to the appropriate
        provider (Vertex AI, OpenAI, Anthropic, Groq, HuggingFace, or local Ollama) based
        on the `model` field. Supports streaming via SSE when `stream: true`.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferLLMRequest'
      responses:
        '200':
          description: |
            Generated text response. If `stream` is `true`, returns a `text/event-stream`
            (SSE) response; otherwise returns JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferLLMResponse'
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events stream of text delta chunks.
        '401':
          description: Unauthorized.
        '422':
          description: Invalid request (unknown model, missing prompt).
        '503':
          description: All inference providers in the fallback chain are unavailable.
  '/inference/vlm':
    post:
      tags:
        - Inference
      summary: VLM vision + text generation
      operationId: inferVLM
      description: |
        Submit a prompt and one or more image URLs to a vision-language model (VLM).
        Supports multimodal inputs for sign-language frame analysis, accessibility
        description, and visual content understanding.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferVLMRequest'
      responses:
        '200':
          description: VLM text response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferLLMResponse'
        '401':
          description: Unauthorized.
        '422':
          description: Invalid request.
  '/inference/embed':
    post:
      tags:
        - Inference
      summary: Text embedding
      operationId: inferEmbed
      description: |
        Generate dense vector embeddings for one or more input strings.
        Used for semantic search, RAG retrieval, and accessibility preference matching.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferEmbedRequest'
      responses:
        '200':
          description: Embedding vectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferEmbedResponse'
        '401':
          description: Unauthorized.
        '422':
          description: Invalid request.
  '/inference/asr':
    post:
      tags:
        - Inference
      summary: Automatic speech recognition (ASR)
      operationId: inferASR
      description: |
        Transcribe audio input to text using Whisper or an equivalent ASR model.
        Supports Deaf-first audio pipelines, live caption generation, and sign-language
        companion transcription.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InferASRRequest'
      responses:
        '200':
          description: Transcription result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferASRResponse'
        '401':
          description: Unauthorized.
        '422':
          description: Invalid request (unsupported audio format).
components:
  securitySchemes:
    deafauth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "DeafAUTH bearer token. Obtain from https://deafauth.mbtq.dev/docs"
  schemas:
    Job:
      $ref: 'components/schemas/Job.yaml'
    Idea:
      $ref: 'components/schemas/Idea.yaml'
    InferLLMRequest:
      type: object
      required: [model, prompt]
      properties:
        model:
          type: string
          description: |
            Model identifier. Use provider-prefixed slugs:
            `gemini-1.5-pro`, `gpt-4o`, `claude-3-5-sonnet`, `groq/llama3-70b`,
            `hf/mistralai/Mistral-7B-Instruct-v0.3`, `local/llama3`.
          example: "gemini-1.5-pro"
        prompt:
          type: string
          description: User prompt / instruction.
          example: "Summarize the Deaf-first design principles."
        system:
          type: string
          description: Optional system prompt.
        stream:
          type: boolean
          default: false
          description: If true, response is streamed as SSE.
        max_tokens:
          type: integer
          minimum: 1
          maximum: 32768
          description: Maximum tokens in the response.
        temperature:
          type: number
          minimum: 0
          maximum: 2
          description: Sampling temperature.
        capabilities:
          type: array
          items:
            type: string
            enum: [text-gen, code-gen]
          description: Required capability tags used for model routing validation.
    InferLLMResponse:
      type: object
      properties:
        model:
          type: string
          description: Actual model used (may differ from requested if fallback occurred).
        provider:
          type: string
          description: Inference provider used (e.g. "vertex-ai", "openai", "groq", "hf").
        text:
          type: string
          description: Generated text output.
        finish_reason:
          type: string
          enum: [stop, length, content_filter, error]
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
    InferVLMRequest:
      type: object
      required: [model, prompt, images]
      properties:
        model:
          type: string
          description: VLM model identifier (must support vision capability).
          example: "gpt-4o"
        prompt:
          type: string
          description: Text prompt to accompany the images.
        images:
          type: array
          items:
            type: string
            format: uri
          description: One or more image URLs to include in the request.
          minItems: 1
          maxItems: 10
        stream:
          type: boolean
          default: false
        capabilities:
          type: array
          items:
            type: string
            enum: [vision, asl-sign]
          description: Required capability tags (e.g. `asl-sign` for sign-language frames).
    InferEmbedRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: string
          description: Embedding model identifier.
          example: "hf/BAAI/bge-large-en-v1.5"
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: Text string or array of strings to embed.
    InferEmbedResponse:
      type: object
      properties:
        model:
          type: string
        provider:
          type: string
        embeddings:
          type: array
          items:
            type: array
            items:
              type: number
          description: Array of embedding vectors (one per input string).
        dimensions:
          type: integer
          description: Dimensionality of each embedding vector.
    InferASRRequest:
      type: object
      required: [audio]
      properties:
        audio:
          type: string
          format: binary
          description: Audio file (wav, mp3, m4a, ogg, flac). Max 25 MB.
        model:
          type: string
          default: "openai/whisper-large-v3"
          description: ASR model identifier.
        language:
          type: string
          description: BCP-47 language code hint (e.g. "en", "asl"). Optional.
        task:
          type: string
          enum: [transcribe, translate]
          default: transcribe
    InferASRResponse:
      type: object
      properties:
        model:
          type: string
        provider:
          type: string
        text:
          type: string
          description: Full transcription text.
        language:
          type: string
          description: Detected language code.
        segments:
          type: array
          description: Word/segment-level timestamps (if available).
          items:
            type: object
            properties:
              start:
                type: number
              end:
                type: number
              text:
                type: string
