openapi: 3.1.0
info:
  version: 1.0.0
  title: 360 Magicians API
  termsOfService: https://360magicians.com/terms/
  contact:
    name: 360 Magicians Support
    url: https://360magicians.com/contact
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
    altText: 360 Magicians logo
  description: >
    # 360 Magicians API

    **Deaf Aware. Rooted Deaf First. Globally Future-Proof AIs.**


    The 360 Magicians API powers the **IDEA → BUILD → GROW → MANAGED** lifecycle for Deaf-first
    AI projects. All endpoints are authenticated via **DeafAUTH** bearer tokens.


    ## Authentication

    Obtain a token from [DeafAUTH](https://deafauth.mbtq.dev/docs) and pass it as a ******

    ```
    Authorization: ******
    ```


    ## Lifecycle Stages

    | Stage   | Description |
    |---------|-------------|
    | **IDEA** | Generate, validate, and research ideas |
    | **BUILD** | Create repos, wireframes, and deploy MVPs |
    | **GROW** | Analytics, marketing campaigns, partner onboarding |
    | **MANAGED** | Compliance, finance, and continuous monitoring |


    ## Related Docs

    - [About 360Magicians](../docs/about.md)
    - [Infrastructure / Ecosystem Architecture](../docs/infrastructure.md)
    - [DeafAuth](../docs/projects/deafauth.md)
    - [PinkSync](../docs/projects/pinksync.md)
    - [Municipal DAO](../docs/projects/municipal-dao.md)
externalDocs:
  description: "360 Magicians ecosystem documentation"
  url: 'https://github.com/360magicians'
tags:
  - name: Auth
    description: "DeafAUTH identity and token operations."
  - name: Idea
    description: "IDEA stage — generate, validate, and research ideas."
  - name: Build
    description: "BUILD stage — repo creation, wireframes, and MVP deployment."
  - name: Grow
    description: "GROW stage — analytics, marketing, and partner onboarding."
  - name: Managed
    description: "MANAGED stage — compliance, finance, and monitoring."
  - name: Jobs
    description: "Job listing and status across all lifecycle stages."
x-tagGroups:
  - name: Identity
    tags:
      - Auth
  - name: Lifecycle
    tags:
      - Jobs
      - Idea
      - Build
      - Grow
      - Managed
servers:
  - url: https://api.360magicians.com
    description: Production API
paths:
  '/jobs/list':
    get:
      tags:
        - Jobs
      summary: List all jobs
      operationId: listJobs
      description: Returns all jobs across the IDEA, BUILD, GROW, and MANAGED lifecycle stages.
      security:
        - deafauth: []
      responses:
        '200':
          description: A list of lifecycle jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'components/schemas/Job.yaml'
        '401':
          description: Unauthorized — invalid or missing DeafAUTH token.
  '/idea':
    post:
      tags:
        - Idea
      summary: Generate an idea
      operationId: generateIdea
      description: |
        Submit a prompt to IdeaMagician to generate a new Deaf-first project idea.
        Returns an `idea.json` payload.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/IdeaRequest.yaml'
      responses:
        '200':
          description: Idea generated successfully.
          content:
            application/json:
              schema:
                $ref: 'components/schemas/Idea.yaml'
        '401':
          description: Unauthorized.
  '/idea/validate':
    post:
      tags:
        - Idea
      summary: Validate an idea
      operationId: validateIdea
      description: |
        Submit an `idea.json` to ValidatorMagician for compliance and feasibility validation.
        Returns a `validation_report.json`.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/Idea.yaml'
      responses:
        '200':
          description: Validation report.
          content:
            application/json:
              schema:
                $ref: 'components/schemas/ValidationReport.yaml'
        '401':
          description: Unauthorized.
  '/idea/research':
    post:
      tags:
        - Idea
      summary: Run market research
      operationId: researchIdea
      description: |
        Submit a topic and target audience to ResearchMagician.
        Returns a `market_research_report.md`.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/ResearchRequest.yaml'
      responses:
        '200':
          description: Market research report (Markdown).
          content:
            text/markdown:
              schema:
                type: string
        '401':
          description: Unauthorized.
  '/build/repo':
    post:
      tags:
        - Build
      summary: Create project repository
      operationId: createRepo
      description: |
        Instruct DeveloperMagician to create a new GitHub repository for a project.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/BuildRepoRequest.yaml'
      responses:
        '201':
          description: Repository created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repository_url:
                    type: string
                    format: uri
        '401':
          description: Unauthorized.
  '/grow/campaign':
    post:
      tags:
        - Grow
      summary: Run marketing campaign
      operationId: runCampaign
      description: |
        Submit a campaign brief to GrowthMagician to execute a marketing campaign.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'components/schemas/CampaignRequest.yaml'
      responses:
        '200':
          description: Campaign report.
          content:
            text/markdown:
              schema:
                type: string
        '401':
          description: Unauthorized.
  '/managed/compliance':
    post:
      tags:
        - Managed
      summary: Generate compliance report
      operationId: generateComplianceReport
      description: |
        Instruct ComplianceMagician to generate a compliance report for a given period.
      security:
        - deafauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reporting_period]
              properties:
                reporting_period:
                  type: string
                  description: ISO 8601 date range, e.g. "2024-Q1"
                  example: "2024-Q1"
      responses:
        '200':
          description: Compliance report (PDF URL).
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_url:
                    type: string
                    format: uri
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    deafauth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "DeafAUTH bearer token. Obtain from https://deafauth.mbtq.dev/docs"
  schemas:
    Job:
      $ref: 'components/schemas/Job.yaml'
    Idea:
      $ref: 'components/schemas/Idea.yaml'
